<hr>

<div class="text-center" *ngIf="issueDetails.length === 0">
  <img src="assets/images/progress.gif" />
</div>

<div class="container" *ngIf="issueDetails.length !== 0">
  <div *ngFor="let item of issueDetails; let row = index">
    <div class="card" id="{{item.issueDetailId}}">
      <div class="card-header">
        <h3 class="text-blue">{{row+ 1}}-&nbsp;{{item.caption}}</h3>
      </div>
      <div class="card-body">
        <div class="box-answer" [innerHTML]="item.text"></div>
        <hr>
        <ngx-gallery *ngIf="item.issueDetailAttachments.length !== 0" class="gallery-custom" [options]="galleryOptions"
          [images]="loadImage(item.issueDetailId)">
        </ngx-gallery>
      </div>
      <div class="card-footer">

        <div class="comment-box" *ngFor="let cmt of item.issueDetailComments">
          <a class="btn-link">{{cmt.userName}}</a>: <label>{{cmt.comment}}</label>
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="{{'Issue.AddComment'| translate}}"
            [(ngModel)]="newComment">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"
              (click)="addComment(item.issueDetailId)">{{'Issue.BtnAddComment'| translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <button type="button" class="btn btn-success btn-wide"
    (click)="addAnswer()">{{'Issue.YourAnswer'| translate}}</button>
  <hr>
</div>
