.gallery-custom {
  width: 100% !important;
}

.card-header {
  background-color: transparent;
}

.card-footer {
  background-color: transparent;
}

.card-red {
  border: 1px solid rgb(255, 23, 0) !important;
}
