<div class="form-group" style="margin-top: 2px;">
  <div class="card">
    <div class="card-body">
      <a class="btn btn-success pull-left" [routerLink]="['add']"
        routerLinkActive="router-link-active">{{'Issue.AddNew' |translate}}</a>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 15px;">

  <div class="col-md-4">

    <!-- Begin Tree -->
    <div class="card">
      <div class="card-body">
        <div class="card-heading">
          {{ 'Equipment.Title' | translate }}
        </div>
        <div class="form-group">
        </div>
        <div class="panel-body">
          <app-treeview [canSearch]="true" [hasCheckbox]="true" [titleLabel]="'Issue.Equipments' | translate"
            [items]="files" [id]="'equipment'" (clickByCheckbox)="treeClick($event)">
          </app-treeview>
        </div>
      </div>
      <div class="card-footer">
        <label class="text-success">{{'General.SelectedCount'| translate}}</label>: <label
          class="text-success">{{selectedIds.length}}</label>
      </div>
    </div>
    <!-- End Tree -->
    <hr>

    <!-- begin search Panel -->
    <div class="card">
      <div class="card-body">
        <div class="form-group">

          <div class="form-group row">
            <label class="col-md-3">{{ 'Issue.Title' | translate }}</label>
            <div class="col-md-9">
              <input type="text" class="form-control" [(ngModel)]="searchModel.title" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3">{{ 'General.IssueType' | translate }}</label>
            <div class="col-md-9">
              <select class="form-control" [(ngModel)]="searchModel.issueType">
                <option value="">{{ 'General.SelectItems' | translate }}</option>
                <option *ngFor="let type of issueTypesSelect" [value]="type.value">{{ type.title | translate }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3">{{ 'Issue.isActive' | translate }}</label>
            <div class="col-md-9">
              <select class="form-control" [(ngModel)]="searchModel.isActive">
                <option value="">{{ 'General.SelectItems' | translate }}</option>
                <option value="{{true}}">فعال</option>
                <option value="{{false}}">غیرفعال</option>
              </select>
            </div>
          </div>

        </div>

      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success" (click)="loadIssue()">{{'Issue.BtnSearch'| translate}}</button>
        <img *ngIf="loading" class="pl-2" src="/assets/images/wait.gif" />
      </div>
    </div>
    <!-- End search Panel -->
  </div>
  <div class="col-md-8">

    <div *ngFor="let item of issues.searchIssueViewModel" class="col-xs-12">

      <div class="card place-item" [ngClass]="{'place-item-danger': !item.isActive}">
        <div class=" row card-body">
          <div class="col-md-3 col-12 pc">
            <img class="img-circle pr" alt="{{item.title}}" data-src="/api/File/download/{{item.fileId}}"
              src="/api/File/download/{{item.fileId}}" lazy="loaded"
              onerror="this.onerror=null; this.src='assets/images/small.jpg'">
          </div>

          <div class="col-12 col-md-5">
            <div class="row line-item text-blue">
              <h5> {{item.title}}</h5>
            </div>
            <div class="row line-item text-green">
              <label>{{ issueType[item.issueType]| translate}}</label>
            </div>
            <div class="row line-item">
              <label class="text-orange">{{'Issue.AnswerCount'| translate}}:&nbsp;</label>
              <label class="issue-badge">{{item.answerCount}}</label>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <button class="btn btn-sm btn-warning pl" [title]="'Issue.Edit'| translate"><span
                class="fa fa-pencil"></span></button>
            <button class="btn btn-sm pl btn-space"
              [ngClass]="{'btn-danger': item.isActive, 'btn-success': !item.isActive}"
              [title]="'Issue.Delete'| translate" (click)="change(item.id,item.isActive)">
              <span class="fa" [ngClass]="{'fa-eye-slash': item.isActive, 'fa-refresh': !item.isActive}"></span>
            </button>
            <button [routerLink]="['/issue/display', item.id]" routerLinkActive="router-link-active"
              class="btn btn-sm btn-primary pl btn-space" [title]="'Issue.Display'| translate"><span
                class="fa fa-television"></span></button>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="issues.searchIssueViewModel.length > 0" class="row paging-space">
      <ngb-pagination [collectionSize]="issues.totalCount" [(page)]="searchModel.pageIndex" (pageChange)="loadIssue()"
        [maxSize]="5" [boundaryLinks]="true">
      </ngb-pagination>
    </div>
  </div>
</div>
