<div class="container-fluid" style="margin-top: 50px;">
  <div class="form-group row">
    <div class="col-md-5">
      <div class="panel panel-info">
        <div class="panel-heading">
          {{ 'Equipment.Title' | translate }}
        </div>
        <div class="panel-body">
          <div class="form-group">
          </div>
          <app-treeview [canSearch]="true" [hasCheckbox]="false" [titleLabel]="'Equipment.TreeTitle' | translate"
            [items]="files" [id]="'equipment'" (click)="treeClick($event)">
          </app-treeview>
        </div>

        <div class="panel-footer">
          <button type="button" class="btn btn-outline-success"
            (click)="create()">{{ 'Equipment.BtnAddNew' | translate }}</button>&nbsp;
          <button type="button" class="btn btn-outline-warning"
            (click)="edit()">{{ 'Equipment.BtnEdit' | translate }}</button>&nbsp;
          <button type="button" class="btn btn-outline-info"
            (click)="addAttachment()">{{ 'Equipment.BtnAttachment' | translate }}</button>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="panel panel-info">
        <div class="panel-heading">
          {{ 'Equipment.Attachment' | translate }}
        </div>
        <div class="panel-body">
          <table class="table table-hover table-bordered table-striped">
            <thead>
              <tr>
                <th>{{'Equipment.Row'| translate}}</th>
                <th>{{'Equipment.EquipmentAttachmentName'| translate}}</th>
                <th>{{'Equipment.EquipmentAttachmentType'| translate}}</th>
                <th>{{'Equipment.FileType'| translate}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of attachments; let row = index">
                <td>{{row + 1}}</td>
                <td>{{item.equipmentAttachmentName}}</td>
                <td>{{equipmentAttachmentType[item.equipmentAttachmentType]| translate}}</td>
                <td>{{item.fileType}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-warning"
                    (click)="editAttachment(item.equipmentAttachmentId)"><span class="fa fa-pencil"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
