<div class="container" style="margin-top: 50px;">
  <div class="panel panel-info">
    <div class="panel-heading">
      {{ 'Equipment.Title' | translate }}
    </div>
    <div class="panel-body">
      <div class="form-group">
      </div>
      <app-treeview [canSearch]="true" [hasCheckbox]="false" [titleLabel]="'Equipment.TreeTitle' | translate"
        [items]="files" [id]="'equipment'" (click)="treeClick($event)">
      </app-treeview>
    </div>

    <div class="panel-footer">
      <button type="button" class="btn btn-outline-success" (click)="create()">{{ 'Equipment.BtnAddNew' | translate }}</button>&nbsp;
      <button type="button" class="btn btn-outline-warning" (click)="edit()">{{ 'Equipment.BtnEdit' | translate }}</button>
    </div>
  </div>
</div>
