<div class="container" style="margin-top: 50px;">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4>{{ 'Users.Title' | translate }}</h4>
    </div>
    <div class="panel-body">

      <div class="panel panel-info">
        <div class="panel-heading">
          <label>{{ 'Users.Search' | translate }}</label>
        </div>
        <div class="panel-body">

        </div>
      </div>


      <div class="panel panel-primary">
        <div class="panel-heading">
          <label>{{ 'Users.UsersList' | translate }}</label>
          <button type="button" class="btn btn-success btn-Create" (click)="create()" >{{ 'Users.CreateNewUser' | translate }}</button>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>{{ 'Users.Row' | translate }}</th>
                <th>{{ 'Users.FirstName' | translate }}</th>
                <th>{{ 'Users.LastName' | translate }}</th>
                <th>{{ 'Users.Username' | translate }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users; let row = index">
                <td>{{row + 1}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.username}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-warning" [title]="'Users.BtnChangePermissionTitle'| translate" (click)="changePermission(item.id)"><i class="fa fa-eye"></i></button>&nbsp;
                    <button type="button" class="btn btn-sm btn-success" [title]="'Users.BtnActiveTitle'| translate"><i class="fa" [ngClass]=" {'fa-unlock': !item.isActive, 'fa-lock': item.isActive}"></i></button>&nbsp;
                    <button type="button" class="btn btn-sm btn-primary" [title]="'Users.BtnEditTitle'| translate" (click)="edit(item.id)"><i class="fa fa-pencil"></i></button>&nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="panel-footer">
    </div>
  </div>
</div>
