<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]='["/"]'>{{ 'Menu.SiteTitle' | translate }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]='["/"]'>{{ 'Menu.Home' | translate }}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" *ngIf="currentUser">
        <a class="nav-link dropdown-toggle" id="navbarBase" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ 'Menu.BaseInfo' | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarBase">
          <a class="dropdown-item" [routerLink]='["/organization"]'>{{ 'Menu.Organization' | translate }}</a>
          <a class="dropdown-item" [routerLink]='["/equipment"]'>{{ 'Menu.Equipment' | translate }}</a>
          <a class="dropdown-item" [routerLink]='["/users"]'>{{ 'Menu.Users' | translate }}</a>
          <a class="dropdown-item" [routerLink]='["/authentication"]'>{{ 'Menu.Authentication' | translate }}</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="currentUser">
        <a class="nav-link dropdown-toggle" id="navbarOper" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ 'Menu.CurrentOperations' | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarOper">
          <a class="dropdown-item" [routerLink]='["/issue"]'>{{ 'Menu.IssueManagement' | translate }}</a>
          <a class="dropdown-item" [routerLink]='["/issue/search"]'>{{ 'Menu.IssueSearch' | translate }}</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="currentUser">
        <a class="nav-link dropdown-toggle" id="navbarReports" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ 'Menu.Reports' | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarReports">
          <a class="dropdown-item" [routerLink]='["/report/usersIssue"]'>{{ 'Menu.UserIssueReports' | translate }}</a>
          <a class="dropdown-item"
            [routerLink]='["/report/usersActivation"]'>{{ 'Menu.UsersActivationReport' | translate }}</a>
          <a class="dropdown-item"
            [routerLink]='["/report/equipmentsIssue"]'>{{ 'Menu.EquipmentIssueReports' | translate }}
          </a>
          <a class="dropdown-item"
            [routerLink]='["/report/userLikes"]'>{{ 'Menu.IssueOfUserLikesReport' | translate }}</a>
          <a class="dropdown-item" [routerLink]='["/report/totalIssues"]'>{{ 'Menu.TotalIssueReport' | translate }}</a>
          <a class="dropdown-item"
            [routerLink]='["/report/organizationsIssue"]'>{{ 'Menu.IssuesOfOrganizationReport' | translate }}</a>
        </div>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" *ngIf="currentUser">
        <a class="nav-link dropdown-toggle" id="navbarUser" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ currentUser.fullName }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarUser" *ngIf="currentUser">
          <a class="dropdown-item" (click)="changePass()">{{ 'Menu.ChangePassword' | translate }}</a>
        </div>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-info my-2 my-sm-0" *ngIf="!currentUser"
        (click)="loginModal()">{{ 'Menu.Login' | translate }}</button>
      <button class="btn btn-outline-info my-2 my-sm-0" *ngIf="currentUser"
        (click)="logout()">{{ 'Menu.Logout' | translate }}</button>
    </div>
  </div>
</nav>
