<div class="modal-header">
  <h4 class="modal-title">{{'Users.EquipmentPermissionTitle'| translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div >
    <div class="form-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
        <label>{{'Users.EquipmentList' | translate}}</label>
        </div>
        <div class="panel-body">
          <app-treeview [canSearch]="true" [hasCheckbox]="true" [titleLabel]="'Users.TreeTitle' | translate"
            [items]="files" [id]="'orgPer'" (clickByCheckbox)="treeClick($event)">
          </app-treeview>
        </div>
        <div class="panel-footer">
          <label class="text-success">تعداد موارد انتخابی</label>: <label class="text-success">{{selectedIds.length}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <img *ngIf="loading" class="pl-2" src="/assets/images/wait.gif" />
  <button type="button" class="btn btn-outline-success"
    (click)="onSubmit()">{{'Users.BtnChangePermission'| translate}}</button>
  <button type="button" class="btn btn-outline-danger" (click)="close()">{{'General.BtnClose'| translate}}</button>
</div>
