<div class="modal-header">
  <h4 class="modal-title">{{'Organization.EditTitle'| translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="orgName" class="col-sm-2 col-form-label">{{'Organization.OrgName'| translate}}</label>
      <div class="col-sm-10">
        <input id="orgName" type="text" class="form-control" formControlName="organizationName"
          placeholder="{{'Organization.OrgName'| translate}}" (keyup.enter)="onSubmit()" ngbAutofocus>
        <div [hidden]="(f.organizationName.valid || f.organizationName.untouched) && !submitted">
          <div [hidden]="!f.organizationName.hasError('required')" class="text-danger">
            {{'Organization.InputOrganizationNameError'| translate}}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="orgDescription" class="col-sm-2 col-form-label">{{'Organization.OrgDescription'| translate}}</label>
      <div class="col-sm-10">
        <input id="orgDescription" type="text" class="form-control" formControlName="description"
          placeholder="{{'Organization.OrgDescription'| translate}}" (keyup.enter)="onSubmit()">
      </div>
    </div>


    <div class="form-group row">
      <label for="orgParentCaption"
        class="col-sm-2 col-form-label">{{'Organization.OrgParentCaption'| translate}}</label>
      <div class="col-sm-10">
        <input id="orgParentCaption" type="text" class="form-control-plaintext" value="{{parentsTitle}}">
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <img *ngIf="loading" class="pl-2" src="/assets/images/wait.gif" />
  <button type="button" class="btn btn-outline-success"
    (click)="onSubmit()">{{'Organization.BtnEdit'| translate}}</button>
  <button type="button" class="btn btn-outline-danger" (click)="close()">{{'Organization.BtnClose'| translate}}</button>
</div>