<!-- Top Image -->
<div class="row">
  <img class="w-100" src="assets/images/topImage-home.jpg" />
</div>

<!-- Counters -->
<hr>
<div class="container">
  <div class="form-group">
    <h5 class="text-center">{{'Dashboard.Text1'| translate}}</h5>
  </div>
  <div class="form-group">
    <h5 class="text-center">{{'Dashboard.Text2'| translate}}</h5>
  </div>
  <div class="form-group">
    <h5 class="text-center">{{'Dashboard.Text2'| translate}}</h5>
  </div>
  <div class="form-group">
    <h5 class="text-center font-weight-bold">{{'Dashboard.Text4'| translate}}</h5>
  </div>
</div>
