<div class="modal-header">
  <h4 class="modal-title">{{'Equipment.CreateTitle'| translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="equName" class="col-sm-2 col-form-label">{{'Equipment.EquipmentName'| translate}}</label>
      <div class="col-sm-10">
        <input id="equName" type="text" class="form-control" formControlName="equipmentName"
          placeholder="{{'Equipment.EquipmentName'| translate}}" (keyup.enter)="onSubmit()" ngbAutofocus >
        <div [hidden]="(f.equipmentName.valid || f.equipmentName.untouched) && !submitted">
          <div [hidden]="!f.equipmentName.hasError('required')" class="text-danger">
            {{'Equipment.InputEquipmentNameError'| translate}}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="equipmentDescription" class="col-sm-2 col-form-label">{{'Equipment.EquipmentDescription'| translate}}</label>
      <div class="col-sm-10">
        <input id="equipmentDescription" type="text" class="form-control" formControlName="description"
          placeholder="{{'Equipment.EquipmentDescription'| translate}}" (keyup.enter)="onSubmit()">
      </div>
    </div>


    <div class="form-group row">
      <label for="equipmentParentCaption"
        class="col-sm-2 col-form-label">{{'Equipment.EquipmentParentCaption'| translate}}</label>
      <div class="col-sm-10">
        <input id="equipmentParentCaption" type="text" class="form-control-plaintext" value="{{parentsTitle}}">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <img *ngIf="loading" class="pl-2" src="/assets/images/wait.gif" />
  <button type="button" class="btn btn-outline-success"
    (click)="onSubmit()">{{'Equipment.BtnCreate'| translate}}</button>
  <button type="button" class="btn btn-outline-danger" (click)="close()">{{'Equipment.BtnClose'| translate}}</button>
</div>
